
nnection>
   <host><![CDATA[localhost]]></host>
   <username><![CDATA[magentodbusr]]></username>
   <password><![CDATA[123456789]]></password>
   <dbname><![CDATA[magentodb]]></dbname>
   <active>1</active>
</connection>
