<html>
    <head>
        <title>Welcome to {{ domain }}</title>
    </head>
    <body>
        <h1>if you see this , that means that {{ domain }} is now working , Congrats !! </h1>
    </body>
</html>
