<VirtualHost *:80>
 ServerAdmin admin@{{ domain }}
 DocumentRoot /var/www/html/moodle/
 ServerName {{ domain }}
 ServerAlias www.{{ domain }}
<Directory /var/www/html/moodle/>
 Options FollowSymLinks
 AllowOverride All
</Directory>
</VirtualHost>


