<?php
// HTTP
define('HTTP_SERVER', 'http://www.{{ domain }}/admin/');
define('HTTP_CATALOG', 'http://www.{{ domain }}/');

// HTTPS
define('HTTPS_SERVER', 'https://www.{{ domain }}/admin/');
define('HTTPS_CATALOG', 'https://www.{{ domain }}/');

// DIR

define('DIR_APPLICATION', '/var/www/html/oc/admin/');
define('DIR_SYSTEM', '/var/www/html/oc/system/');
define('DIR_IMAGE', '/var/www/html/oc/image/');
define('DIR_LANGUAGE', '/var/www/html/oc/admin/language/');
define('DIR_TEMPLATE', '/var/www/html/oc/admin/view/template/');
define('DIR_CONFIG', '//var/www/html/oc/system/config/');
define('DIR_CACHE', '/var/www/html/oc/system/storage/cache/');
define('DIR_DOWNLOAD', '/var/www/html/oc/system/storage/download/');
define('DIR_STORAGE', '/var/www/html/oc/system/storage/');
define('DIR_LOGS', '/var/www/html/oc/system/storage/logs/');
define('DIR_MODIFICATION', '/var/www/html/oc/system/storage/modification/');
define('DIR_UPLOAD', '/var/www/html/oc/system/storage/upload/');
define('DIR_CATALOG', '/var/www/html/oc/catalog/');




// DB
define('DB_DRIVER', 'mysqli');
define('DB_HOSTNAME', 'localhost');
define('DB_USERNAME', 'ocdbusr');
define('DB_PASSWORD', '123456789');
define('DB_DATABASE', 'ocdb');
define('DB_PORT', '3306');
define('DB_PREFIX', 'oc_');
