<?php
/***CONFIGURATOR***/
$sugar_config['dbUSRData'] = 'same';
$sugar_config['disable_persistent_connections'] = false;

$sugar_config['http_referer']['list'][] = 'www.{{ domain }}';


/***CONFIGURATOR***/
